<h1>Restaurants
    <a href="#">Add</a>
</h1>
<section>
        <!-- TODO - for each restaurant -->
        <article>

            <h1>My Restaurant
                    <a href="#" aria-label="Delete"> <i data-feather="x-square"></i>
                    </a>
            </h1>
            
            <a href="#" aria-label="Open Menu">
                <header style="background-image: url(https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/England/Brighton/brighton-restaurants-hotel-du-vin-bistro.jpg);"></header>      
            </a>

        </article>


<script>
    feather.replace(); // supports the display of feather icon
</script>

</section>