<h2>New Menu</h2>

<form action="/menus/{{restaurantid}}" method="POST">
  <label for="menuname">Menu name:</label><br>
  <input type="text" id="title" name="title" value=""><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/menus/create".</p>

