<h2>New Restaurant</h2>

<form action="/restaurants" method="POST">
  <label for="restname">Restaurant name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <label for="image">Restaurant image:</label><br>
  <input type="url" id="image" name="image" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/restaurant/create".</p>


