<h1>My restaurant
</h1>
<section>
    <!-- TODO - for each menu -->
        <article>
            <h2>My Menu</h2>
            <dl>
                    <!-- TODO - for each menu item -->
                    <div>
                        <dt>Item name</dt>
                        <dd>Item price</dd>
                    </div>
            </dl>
        </article>
</section>